{% extends "base.html" %}

{% block title %}
{{ berry.name | capitalize }}
{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
    <div class="card-header">
        {{ berry.name.upper() }}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ 'growth time' | capitalize }}: {{ berry.growth_time }}</li>
        <li class="list-group-item">{{ 'natural gift power' | capitalize }}: {{ berry.natural_gift_power }}</li>
        <li class="list-group-item">{{ 'size' | capitalize }}: {{ berry.size }}</li>
        <li class="list-group-item">{{ 'smoothness' | capitalize }}: {{ berry.smoothness }}</li>
        <li class="list-group-item">{{ 'soil dryness' | capitalize }}: {{ berry.soil_dryness }}</li>
        <li class="list-group-item">{{ 'max harvest' | capitalize }}: {{ berry.max_harvest }}</li>
        <li class="list-group-item">{{ 'firmness' | capitalize }}: {{ berry.firmness.name }}</li>
        <li class="list-group-item">{{ 'flavors' | capitalize }}:
            {% for flavor in berry.flavors %}
            {{ flavor.flavor.name }}
            {% endfor %}
        </li>
    </ul>
</div>
{% endblock %}